[user]
  name = H. Ryan Jones
  email = hryanjones@gmail.com
  editor = code -- wait
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  pager = less -r
  excludesfile = ~/.gitignore_global
  editor = code --wait
[diff]
  tool = meld
[difftool]
  prompt = false
[alias]
  d = difftool
  dag = log --graph --decorate --all
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%Cgreen%h%Creset %ad | %s%d %Cblue[%an]%Creset \" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[color]
  ui = true
[push]
  default = current
